VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=ventalocales-fa711.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ventalocales-fa711
VITE_FIREBASE_STORAGE_BUCKET=ventalocales-fa711.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=554063696424
VITE_FIREBASE_APP_ID=
